*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(3, 1, 29);
}
.container {
    background-color: rgb(69, 67, 67);
    display: flex;
    color: white;
    padding: 10px;
    justify-content: space-between; 
}
  .navbar {
    margin-left: 50px;
    display: flex;
    align-items: center; 
  }
  .navbar h1{
    font-size: 30px;
  }
  
  .navbar a {
    font-weight: 500;
    margin: 0 10px; 
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: inline;
  }
  .links {
    display: inline;
    margin-left: 850px;
  }
  .navbar a:hover{
    color: aqua;
    text-shadow: 0 0 20px aqua;
  }
  a.about{
    color: aqua;
    text-shadow: 0 0 20px aqua;
  }
  .container-about{
    color: white;
    margin-left: 200px;
    margin-top: 150px;
    width: 800px;
    display: flex;
  }
  .container-about h1,h2,p{
    margin-top: 0px;
    width: 400px;
  }
  .container-about h1{
    font-size: 40px;
  }
  .container-about p{
    margin-top: 10px;
    font-style: italic;
  }
  span{
    color: aqua;
  }
  button{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    outline: none;
    display: block;
    border: aqua;
    background-color:aqua;
    border-radius: 30px;
  }
  button:hover{
  box-shadow: 0 0 10px aqua;
  scale: 1.1;
  }
  .container-about i{
    font-size: 20px;
    margin-right: 10px;  
    margin-top: 20px;
    color: rgb(255, 179, 0);
    border: 2px solid rgb(2, 238, 124);
    padding: 8px;
    border-radius: 100%;
  }
 img{
    height: 400px;
    width: 400px;
     animation: floatAnimation 2s ease-in-out infinite alternate;
  }
  .container-lang{
    margin-left: 50px;
    width: 40%;
  }
  .container-detail{
    width: 50%;
  }
  .second-head{
    margin-top: 10px;
  }
  iframe{
    width: 80%;
    margin-top: 5px;
  }
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px); 
    }
  }
  @media only screen and (max-width: 400px) {
  
  *{
    margin: 0;
    padding: 0;
  }
   .container {
     width: 465px;
    
   }
   .about {
     margin-left: 0px;
     margin-top: 50px;
     width: 370px;
     text-align: center;
     flex-direction: column; 
     text-align: center; 
   }
   .links{
     display: block;
   }
  .navbar{
    width: 100%;
    text-align: center;
    display: block;
    margin-left: 0px;
  }
   .navbar a {
     font-size: 15px;
     margin-left: 0px;
   }
   .links {
     margin-left: 0px;
     margin-top: 20px;
   }
  .container-about,.container-lang, .container-detail{
    margin: 0;
    width: 370px;
    padding: 20px;
    text-align: center;
    display: block;
   }
  .container-detail button{
    margin-left: 90px;
  }
  }
