*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(3, 1, 29);
}
.container {
    background-color: rgb(69, 67, 67);
    display: flex;
    color: white;
    padding: 10px;
    justify-content: space-between; 
  }
  .navbar {
    margin-left: 50px;
    display: flex;
   
    align-items: center;
  }
  .navbar h1{
    font-size: 30px;
  }
  
  .navbar a {
    font-weight: 500;
    margin: 0 10px; 

    font-size: 18px;
    text-decoration: none;
    color: white;
    display: inline;
  }
  .links {
    display: inline;
    margin-left: 850px;
  }
  .navbar a:hover{
    color: aqua;
    text-shadow: 0 0 20px aqua;
  }