*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(3, 1, 29);
}
.container {
  background-color: rgb(69, 67, 67);
  display: flex;
  color: white;
  padding: 10px;
  justify-content: space-between; 
}
.navbar {
  margin-left: 50px;
  display: flex;
 
  align-items: center; 
}
.navbar h1{
  font-size: 30px;
}

.navbar a {
  font-weight: 500;
  margin: 0 10px; 
  font-size: 18px;
  text-decoration: none;
  color: white;
  display: inline;
}
.links {
  display: inline;
  margin-left: 850px;
}
.navbar a:hover{
  color: aqua;
  text-shadow: 0 0 20px aqua;
}

.boi{
  height: 500px;
  display: flex;
  justify-content: center;
  width: 100%;
 
}
.mini-boi{
  width: 1150px;
  justify-content: center;
  /* background-color: rgb(233, 235, 235); */
}
.micro-boi {
  margin-left: 20px;
  margin-top: 20px;
  width: 550px;
  border-radius: 10px;
  justify-content: center;
  display: inline-block;
  height: 400px;
  background-color: rgb(27, 3, 49);
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.micro-boi:hover {
  transform: scale(1.5); /* Increase size on hover */
}

h3{
  color: white;
  text-align: center;
  margin-top: 40px;
  
  font-size: 40px;
}
span{
  color: aqua;
}
h2{
  color: rgb(13, 13, 13);
background-color: aqua;
border-radius: 8px;
font-size: 20px;
padding: 5px;
  text-align: center;
}
a.pot{
  color: aqua;
  text-shadow: 0 0 20px aqua;
}
@media only screen and (max-width: 400px) {
  *{
    margin: 0;
    padding: 0;
  }
   .container {
     width: 465px;
    
   }
   .about {
     margin-left: 0px;
     margin-top: 50px;
     width: 370px;
     text-align: center;
     flex-direction: column; 
     text-align: center; 
   }
   .links{
     display: block;
   }
  .navbar{
    width: 100%;
    text-align: center;
    display: block;
    margin-left: 0px;
  }
   .navbar a {
     font-size: 15px;
     margin-left: 0px;
   }
   .links {
     margin-left: 0px;
     margin-top: 20px;
   }
  .boi {
      margin-top: 20px;
  }
  .mini-boi {
      width: 90%;
      margin-left: 10%;
      padding: 5px;
      margin-top: 5px;
    
  }
  .micro-boi {
      width: 90%;
      margin: 20px auto;
  }
  h3 {
      font-size: 30px;
  }
}
